$colorBgTextBlack: #2b2b2b;
$colorBgTextSilverBlack: #3b3b3b;
$colorBgTextSilverWhite: #858584;
$colorBgTextWhite: #ffffff;

$colorActionPurple: #a259ff;
$colorActionBlue: #377df7;
$colorActionRed: #ff7262;

$colorGradient1: linear-gradient(128.15deg, #a259ff 49.75%, #377df7 136.56%);
$colorGradient2: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
