$ScaleValueMax: 1.03;
$ScaleValueMin: 0.97;

$AnimationDuration: 0.3s;
$AnimationDelay: ease-in-out;

$ScreenSizeDesktop: 1200px;
$ScreenSizeTablet: 834px;
$ScreenSizeMobile: 375px;

$maxWhidthItem: 450px;
